.container {
    display: grid;
    grid-template-columns: 1;
    justify-content: center;
}

h3 {
    display: none;
}

.sorry {
    padding: 20px;
    width: max-content;
    border-bottom: 2px black solid;
}

.container-i {
    display: flex;
    justify-content: center;
}

i {
    width: max-content;
}

@media (max-width: 1024px) {
    h1 {
        display: none;
    }

    h3 {
        display: flex;
        padding: 20px;
        border-bottom: 2px black solid;
    }
}